<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>registrarme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <div class="container">
      <form action="" (submit)="enviarformulario()">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Apellido</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>CUIT</mat-label>
          <input matInput>
        </mat-form-field>
        <div>
          <mat-form-field appearance="outline" class="seleccion">
            <mat-label>arg</mat-label>
            <mat-select>
              <mat-option value="option">ARG</mat-option>
              <mat-option value="option">ITA</mat-option>
              <mat-option value="option">GER</mat-option>
              <mat-option value="option">USA</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="celular">
            <mat-label>cellphone</mat-label>
            <input matInput type="cel">
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com">
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide" type="button">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <section class="example-section">
          <h4>Indica que tipo de usuario sos</h4>
          <p>
            <mat-checkbox>Soy DADOR DE CARGAS</mat-checkbox>
            <mat-hint>podras publicar cargas</mat-hint>
          </p>

          <p>
            <mat-checkbox>Soy TRANSPORTISTA</mat-checkbox>
            <mat-hint>podras tomar cargas</mat-hint>
          </p>

        </section>
        <ion-button class="btn" type='submit' color="dark">Registrarme</ion-button>
        <button mat-raised-button></button>

      </form>
    </div>
  </ion-card>

</ion-content>