
 
     <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="cargas">
          <ion-icon name="cube-sharp"></ion-icon>
          <ion-label>Cargas</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="viajes">
          <ion-icon name="car-sharp"></ion-icon>
          <ion-label>Viajes</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="credito">
          <ion-icon name="card-sharp"></ion-icon>
          <ion-label>Credito</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="perfil">
          <ion-icon name="person-circle-sharp"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  