.centro {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .ancho {
    width: 80%;
    margin: 1rem;  
  }

.footer{
  padding-left:1rem ;
  padding-right: 1rem;
  text-align: center;
}

.subrayado{
  text-decoration: underline;
}
.baseline{
  align-items: baseline;
}
