<ion-card class="card">
    <form (submit)="origen()" class="formulario">
        <mat-form-field appearance="outline">
            <mat-label>origen</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>destino</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-label>fecha</mat-label>
        <mat-form-field appearance="outline">
            <input matInput type="date">
        </mat-form-field>
        <ion-button class="btn" type="submit" color="dark">siguiente</ion-button>
    </form>
</ion-card>