<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ingresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="centro">
    <ion-col>
      <ion-card>
        <ion-card-content>
          <form action="">
            <ion-item>
              <ion-input type="email" placeholder="E-mail"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" placeholder="Contraseña"></ion-input>
            </ion-item>
            <ion-item>
              <ion-button class="ancho" color="dark" size="medium">Ingresar</ion-button>
            </ion-item>
            <ion-item>
              <ion-text slot="end"><a href="">Olvide mi contraseña</a></ion-text>
            </ion-item>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-text class="crear">
        <p >sino tienes una cuenta puedes </p>
        <a routerLink="../registrarse" class="crearC">crear una cuenta</a>
      </ion-text>
    </ion-col>
  </ion-row>

</ion-content>