mat-nav-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

a {
  margin: 1rem;
}

.centro {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ancho {
  width: 80%;
  margin: 1rem;  
}