<ion-header>
  <ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/app"></ion-back-button>
      </ion-buttons>
      <ion-title>ofertar</ion-title>
    </ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card">
    <ion-card class="contenido">
      <div class="ion-padding">
        <ion-text>
          <h3>Ingresa el monto de la oferta</h3>
        </ion-text>
          <mat-form-field appearance="fill">
            <input matInput type="number" class="example-right-align" placeholder="0">
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>
          <ion-text>
            <p>si ofertas por esta carga AGROCARGAS te cobrara <span class="monto">$ (monto)</span> para poder contactar al dador. si estas de acuerdo 
            presiona. </p> 
          </ion-text>
          <ion-button color="dark" expand="block" size="medium" (click)="enviarOferta()">Confirmar oferta</ion-button>
          <ion-text><p>Tu oferta podras verla en Mis caragas ofertadas.</p></ion-text>
      </div>
    </ion-card>
  </div>
</ion-content>